.homeNavigationMenu * {
    animation: menuItems 1.5s infinite;
  }
  
  .navigationMenu , .homeNavigationMenu {
    position: absolute;
    box-sizing: border-box;
    padding-left: 0px;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    align-items: center;
  }
  
  .navigationMenu *  , .homeNavigationMenu *{
    cursor: pointer;
    transition: .2s;
  }
  .navigationMenu h4 , .homeNavigationMenu h4{
    width: 100px;
    height: 20px; 
    white-space: noWrap;
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    letter-spacing: 0px;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgb(28, 28, 28);
}
  
  .navigationMenu :hover , .homeNavigationMenu :hover {
    transform: scale(1.1);
  }
  
  .circle {
    border: 1px solid #FFCA7B;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0 0 7px 0px #FFCA7B;
    animation: none;
  }
  
  .top {
    top: -40px;
    left: -30px;
    text-align: center;
  }
  
  .right {
    top: 7px;
    left: 50px;
    text-align: left;
  }
  
  .bottom {
    top: 50px;
    left: -30px;
    text-align: center;
  }
  
  .left {
    bottom: 10px;
    right: 50px;
    text-align: right;
  }
  
  @keyframes menuItems {
    0% {
        text-shadow:none;
    }
    50% {
        text-shadow: 1px 1px 10px #FFCA7B; 
    }
    100% {
        text-shadow:none;
    }
  }