@keyframes textReflex {
    0% {
        background: linear-gradient(to right,  #FFCA7B 0%, #FFCA7B 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    10% {
        background: linear-gradient(to right, #FFCA7B 0%, #ffffff 0%, #FFCA7B 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20% {
        background: linear-gradient(to right, #FFCA7B 0%, #ffffff 20%, #FFCA7B 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    40% {
        background: linear-gradient(to right, #FFCA7B 0%, #ffffff 40%, #FFCA7B 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    60% {
        background: linear-gradient(to right, #FFCA7B 0%, #ffffff 60%, #FFCA7B 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    80% {
        background: linear-gradient(to right, #FFCA7B 0%, #ffffff 80%, #FFCA7B 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: linear-gradient(to right,  #FFCA7B 0%, #FFCA7B 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes textReflexOnWhite {
    0% {
        background: linear-gradient(to right,  #ffffff 0%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    10% {
        background: linear-gradient(to right,  #ffffff 0% , #FFCA7B 0%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20% {
        background: linear-gradient(to right,  #ffffff 0% , #FFCA7B 20%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    40% {
        background: linear-gradient(to right,  #ffffff 0% , #FFCA7B 40%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    60% {
        background: linear-gradient(to right,  #ffffff 0% , #FFCA7B 60%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    80% {
        background: linear-gradient(to right,  #ffffff 0% , #FFCA7B 80%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    90% {
        background: linear-gradient(to right,  #ffffff 0% , #FFCA7B 100%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: linear-gradient(to right,  #ffffff 0%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }    
}

@keyframes loading {
    0% {
        left: -100%;  /* Comienza fuera de la pantalla a la izquierda */
    }
    50% {
        left: 50%;  /* Se mueve hacia el centro */
    }
    100% {
        left: 100%;  /* Se mueve completamente fuera de la pantalla a la derecha */
    }
}

@keyframes moveReflect {
    0% {
      transform: translate(-100%, 500%); /* Empieza desde la esquina inferior izquierda */
    }
    50% {
      transform: translate(100%, -500%); /* Llega a la esquina superior derecha */
    }
    100% {
      transform: translate(-100%, 100%); /* Regresa a la esquina inferior izquierda */
    }
  }

@keyframes contactBtn {
    0% {
        width: 100px;
        height: 30px;
      }
      50% {
        width: 130px;
        height: 50px; 
      }
      100% {
        width: 115px;
        height: 40px;
      }
}

@keyframes menuItems {
    0% {
        text-shadow:none;
    }
    50% {
        text-shadow: 1px 1px 10px #FFCA7B; 
    }
    100% {
        text-shadow:none;
    }
  }

  @keyframes enter {
    0% {
      top: -15%;
    }
    50% {
      top: 7%;
      transform: scaleY(0.8);
      left: 5%;
    }
    80% {
      
      top: 5%;
    }
    100%{
      top: 7%;
    }
  }
  
  @keyframes out{
    0% {
      top: 7%;
    }
    100%{
      top: -15%;
    }
  }


@keyframes slideGrow {
  0% {
    width: 10px;
    opacity: 1;
    color: transparent;
  }
  50% {
    color: rgb(60, 60, 60);
    width: 70px;
    opacity: 1;
  }
  100% {
    width:0px;
    opacity: 0;
    color: transparent;
  }
}
@keyframes slideMoveTop {
  0% {
    top: 10px;
  }
  100% {
    top: -80px;
  }
}
@keyframes slideMoveBottom {
  0% {
    top: -10px;
  }
  100% {
    top: 80px;
  }
}
@keyframes slideMoveRight {
  0% {
    left: 20px;
  }
  100% {
    left: 110px;
  }
}
@keyframes slideMoveLeft {
  0% {
    right: 0px;
  }
  100% {
    right: 90px;
  }
}

@keyframes showText {
  0% {
    opacity: 0;
    left: -7px;
  }
  50% {
    opacity: 0;
    left: 26px;
  }
  100% {
    opacity: 0;
    left: 0px;
  }
}